@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.title-1 {
  color: #181818;
  font-family: "Circular Std", sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;

  &--decor {
    position: relative;
  }

  &--decor::after {
    content: "";
    position: absolute;
    width: 268px;
    height: 24px;
    background-image: url("./../img/discover/underline.svg");
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
    z-index: -1;

    @include mediaMobile{
      width: 184px;
      height: 12px;
      background-size: contain;
    }
  }

  @include mediaTablet {
    font-size: 52px;
  }

  @include mediaMobile{
    font-size: 32px;
  }

  @include mediaMobileXS {
    font-size: 28px;
  }
}

.title-3 {
  font-size: 36px;
  font-weight: 500;
  line-height: normal;
  color: #181818;

  @include mediaMobile {
    font-size: 28px;
  }
}

.text {
  color: #909090;
  font-family: "Circular Std", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%; /* 27px */

  @include mediaMobile{
    font-size: 16px;
  }
}
