.discover {
  padding: 60px 0;

  @include mediaMobile {
    padding: 40px 0;
  }
}

.discover__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;

  @include mediaTablet {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}

.discover__title {
  margin-bottom: 24px;
}

.text {
  margin-bottom: 40px;

  @include mediaMobileXS {
    margin-bottom: 10px;
  }
}

.discover__picture {
  position: relative;
  justify-self: center;

  @include mediaTablet {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: -1 / 1;
  }
}

.discover__picture-hint {
  position: absolute;
  top: 90px;
  left: 40px;

  @include mediaLaptop {
    top: 40px;
    left: 20px;
  }

  @include mediaMobile {
    top: 30px;
    left: 0;
  }

  @include mediaMobileS {
    top: 17px;
  }

  @include mediaMobileXS {
    top: 15px;
  }
}

.discover__picture-scroll {
  position: absolute;
  overflow: hidden;
  right: 15px;
  bottom: 20px;

  @include mediaLaptop {
    right: 0;
    bottom: 0;
  }

  @include mediaMobile {
    width: 30%;
  }
}
