.footer {
  padding: 80px 120px;
  background: #181818;
  color: #ffffff;

  a {
    color: #ffffff;
  }
}
.footer__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 128px;
  align-items: start;
}
.footer__copyright {
  display: grid;
  gap: 24px;
  max-width: 300px;
}
.footer__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 40px;
}

.footer-nav__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  color: #ffffff;
}
.footer-nav__list {
  font-size: 16px;
  font-weight: 450;
  line-height: 150%; /* 24px */
  color: #ffffff;

  li {
    padding: 8px 0;
  }
}
