.header__scrollDown {
  .arrow-swip {
    transform: rotate(0deg);
    left: 15px;
    top: -4px;

    span {
      border-bottom: 3px solid rgba(255, 255, 255, 0.3);
      border-right: 3px solid rgba(255, 255, 255, 0.3);
    }
  }
}

.header__scrollDown-link {
  position: relative;
  display: block;
  padding-left: 45px;
  color: rgba(255, 255, 255, 0.6);
  transform-origin: left;
  transform: rotate(-90deg) translate(0%, 100%);
  opacity: 0.3;
}
