.header__scrollDown-link {
  position: relative;
  display: block;
  padding-left: 45px;
  color: rgba(255, 255, 255, 0.6);
  transform-origin: left;
  transform: rotate(-90deg) translate(0%, 100%);
  opacity: 0.3;

  &::after,
  &::before {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 25px;
    height: 3px;
    transform: rotate(45deg);
    top: 17px;
    left: 0;
  }

  &::before {
    top: 2px;
    transform: translateY(-50%) rotate(-45deg);
  }
}
