.sticker-explore {
  position: absolute;
  left: -5%;
  bottom: 23%;
  min-width: 240px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  border-radius: 82px;
  background: #ffffff;
  box-shadow: 0px 4px 34px 0px rgba(50, 75, 104, 0.17);

  @include mediaLaptop {
    left: 2%;
    bottom: 10%;
  }

  @include mediaTabletS {
    bottom: 25%;
  }

  @include mediaMobile {
    bottom: 10%;
  }

  @include mediaMobileXS {
    padding: 6px;
    min-width: 210px;
  }
}

.sticker-explore__photo {
  @include mediaMobileXS {
    width: 35px;
    height: 36px;
  }
}

.sticker-explore__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
  color: #181818;

  @include mediaMobileXS {
    font-size: 16px;
  }
}
.sticker-explore__text {
  font-size: 14px;
  font-weight: 450;
  line-height: 150%; /* 21px */
  color: #909090;

  @include mediaMobileXS {
    font-size: 13px;
  }
}
